.App {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  /* font-family: HarryPotter; */
}

/* Discovery board cover */

.menu-container {
  width: 70%;
  height: 60px;
  margin-bottom: 10px !important;

  text-align: center;
  display: flex !important;
  justify-content: space-between;
}

.header.item img {
  margin-top: 40px;
  height: 80px !important;
  width: 80px !important;
}

.dicovery-cover {
  width: 70%;
  background-color: orange;
  height: 400px;
}

.cards-group {
  width: 70%;
  padding-top: 40px;
}

.item-card {
  z-index: 0;
  cursor: pointer;
}

.image-btn-left {
  position: absolute;
  top: 40%;
  left: 87%;
  z-index: 1;
  opacity: 0.5 !important;
}

.image-btn-right {
  position: absolute;
  top: 40%;
  right: 85%;
  z-index: 1;
  opacity: 0.5 !important;
}

.image-counter {
  display: flex;
  justify-content: center;
  width: 100%;
}

.bar {
  background-color: grey;
  opacity: 0.4;
  height: 3px;
  width: 30px;

  margin-left: 5px !important;
}

.bar.active {
  background-color: black;
  height: 3px;
}

.content {
  padding: 5px !important;
  z-index: 1;
}

/* Item details page */

.item-container {
  width: 70%;

  text-align: center;
  display: flex !important;
  justify-content: space-between;
}

.item-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-mini-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-image.active {
  height: 70%;
  width: 70%;
}

.item-image {
  height: 50px;
  width: 50px;
  cursor: pointer;

  margin: 10px;
}

.item-mini-image-container .item-image:hover {
  border: 1px solid grey;
}

#preview-modal-container {
  display: flex !important;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  height: 90%;
  width: 80%;
}

.preview-modal-image {
  display: flex;
  align-items: center;

  justify-content: center;
  height: 100%;
  width: 100%;
}

.preview-modal-image img{
  height: 100%;
  width: 100%;
}

.item-details-container {
  display: flex;
  flex-direction: column;

  text-align: left;
}

.add-to-cart-btn {
  width: 200px;
}

.original-price-text {
  color: red !important;
  font-size: 20px !important;
}

.original-price-text p {
  text-decoration: line-through;
  color: black !important;
}

/* Auth CSS */

#auth-modal-container{
  display: flex !important;
  justify-content: center;
  align-items: center;

  height: 50%;
  width: 50%;
}

.auth-form {
  margin: 0px !important;
  width: 100%;
  height: 100%;
}

/* Cart CSS */

.cart-item-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  text-align: justify;
}

.cart-item-card .item {
  display: flex !important;
  width: 100%;
}

.cart-item-card .item .image, .cart-item-card .item img {
  height: 200px;
  width: 200px;
}
